.db-icon{
    /* filter: invert(42%) sepia(100%) saturate(395%) hue-rotate(82deg) brightness(104%) contrast(82%); */
    filter: invert(31%) sepia(86%) saturate(2624%) hue-rotate(199deg) brightness(101%) contrast(113%);
}

.db-btn:hover .db-icon{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(101%) contrast(102%);
}

.db-icon:hover{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(138deg) brightness(101%) contrast(102%);
}